doctype
html
   head
      title jade study
   body
      h1.title imooc
      h2(id='hello',class='title3') imooc
      input(name='course',value='jade')
      input(name='type',checked, type='checkbox')