doctype
html
   head
      title imooc Hello
   body
      h1 Hello jade
      <!--[if IE]>
         <a href="http://www.mozilla.com/en-US/firefox/">Get Firefox</a>
      <![endif]-->
      //
         注释分为单行注释和多行注释
            //+注释文字，表示的单行注释
            //
               +注释文字，表示多行注释
         当注释不输出的时，只需在//+ -(短横线)
      //-注释不输出