doctype
html
   head
      title 多行文本
   body
      p
         | 1. aa
         | 2. bb
         | 3. cc
      //文本里面加标签
         //
            多行文本实现的方法：
               1、p. + 文本
               2、p +
                  (前缀)|
      p
         | foo bar baz
         | rawr rawr super cool go jade go
         strong 123